body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: darkslategrey;
}
.main{
    margin: 10px;
    display: flex;
}

.main img{
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

.name, .mobile{
    color: white;
    font-size: 15px;
    margin: 10px;
}

.name{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 750px;
}
#edit {
    text-decoration: none;
    color: white;
    margin: 10px;
}

.preferences, #logout{
    width: 50%;
    height: 200px;
    border-top: 1px solid black;
    border-radius: 5px;
    background-color: white;
    margin-top: 30vh;
    margin-left: 15px;

}

.element{
    border-bottom:1px solid black ;
    height: 25%;
    padding-left: 10px;
    display: flex;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
    color: black;
}

#logout{
    background-color: white;
    margin: 15px;
    padding-left: 10px;
    height: 50px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    font-family: Cambria;
    font-weight: 750;
    color: black;
    font-size: 20px;
    
}

